head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
    title Productos Pug
body 
    .jumbotron
        .mt-3
        h2(style='color:crimson;') Vista de Productos
        - const hayProductos = productos.length > 0
        if hayProductos
            .table-responsive
                table.table.table-dark
                    tr(style='color: yellow;')
                        th Nombre
                        th Precio
                        th Foto URL
                    each producto in productos
                        tr
                            td
                                nombre=producto.nombre
                            td
                                precio="$"+producto.precio
                            td
                                img(src= producto.fotoUrl alt='' width='64' height='64')
        else
            h3.alert.alert-danger no se encontraron productos
        button#myButton.btn.btn-secondary Form Page
            script(type='text/javascript').
                document.getElementById("myButton").onclick = function () {
                    location.href = "/";
                    };    
