<div>
    {{#each chats}}
    <span style="color:blue"><b>{{this.mail}}</b></span>
    <span>[</span>
    <span style="color:brown">{{this.timestamp}}</span>
    <span>] : </span>
    <span style="color:green"><i>{{this.mensaje}}</i></span>
    <br>
    {{/each}}
</div>
