<div class="alert alert-success" role="alert">
  <h1 style="color:darkgreen;"> Bienvenido {{usuario}} </h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      class="btn btn-warning me-md-2"
      type="button"
      onclick="location.href='/logout'"
    >Desloguear</button>
  </div>
</div>